footer{
    background:#333;
    color:#fff;
}
footer .footer_in{
    width:1200px;
    margin:0 auto;
}
.flogo{
    float:left;
    margin:30px 0 0 20px;
}
.footer_1{
    float:right;
    margin:35px 20px 0 0;
}
.footer_1>li{
    float:left;
    margin-right:40px;
}
.footer_1>li:last-child{margin-right:0px;}
.footer_1>li a{
    font-size:16px;
}
.footer_2, .footer_3{color:#ccc;}
.footer_2{margin-top:55px;}
.footer_2>li{
    float:right;
    margin-right:30px;
}
.footer_2>li:first-child{margin-right:20px;}
.footer_3{margin-top:18px;}
.footer_3>li{
    float:right;
    margin-right:50px;
}
.footer_3>li:first-child{margin-right:20px;}

footer .copy{
    color:#666;
    text-align:center;
    margin-top:75px;
    padding-bottom:50px;
}